<div ng-controller="TestCtrl">
  <label>HTML of last page where looking for data</label>
  <textarea class="form-control input-sm vertical html-form" ng-model="modal.test.html" rows="10" wrap="off"></textarea>
  <label>JS/jQuery script </label>
  <textarea class="form-control input-sm vertical" ng-model="modal.test.pattern" rows="2"></textarea>
  <div class="center-text">
    <i ng-hide="evaluating" class="fa fa-2x aslink fa-refresh" ng-click="refresh()"></i>
    <i ng-show="evaluating" class="fa fa-2x fa-cog fa-spin"></i>
  </div>
  <label>Results</label>
  <pre class="test-result" ng-class="{'error':iserror}">{{result}}</pre>
</div>
