.html-form {
  font-family: "Consolas", monospace;
}

.test-content {
  max-height: 400px;
  white-space: pre;
}

.test-no-content {
  text-align: center;
  color: tomato;
  padding: 40px;
}

.modal-test result-viewer .result-list {
  overflow: auto;
  max-height: 400px;
}
