.editor-container {
  position: relative;
}
.menu-hidden {
  width: 270px;
  display: inline-block;
}

.editor-body {
  display: inline-block;
  /*padding: 20px;*/
  width: calc(100% - 270px);
  position: absolute;
}
.new-sequence {
  text-align: center;
  border-radius: 10px;
  color: yellowgreen;
  padding: 10px;
  /*margin: 20px;*/
  margin: 20px auto;
  width: 300px;
}
.new-sequence:hover {
  background-color: #111;
}
.new-sequence-evident {
  background-color: #444;
}

.top-menu {
  position: fixed;
  text-align: right;
  width: calc(100% - 270px);
  background-color: #222;
  z-index: 100;
}
.top-menu > .title {
  position: absolute;
  color: yellowgreen;
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
}

.contextual-menu {
  position: absolute;
  text-align: right;
  z-index: 10;
}

.editor-row {
  border-bottom: #ddd 1px solid;
  margin: 0 10px 20px;
}
.editor-row-simply {
  border-bottom: none;
  margin-bottom: 0;
}
.editor-row-flat {
  margin: 0 10px;
}
.editor-row-flat .form-group {
  margin-bottom: 2px;
}
.editor-row p,
.editor-row-flat p,
.data-parser p{
  font-size: 11px;
  color: steelblue;
}

.parameter-row {
  padding: 0 10px 2px;
}
.parameter-row.internal input {
  background-color: #eee;
}
.parameter-row > .col {
  padding: 0 4px;
}
.parameter-row > .col > i {
  display: inline-block;
  position: absolute;
  top: 0;
}
.parameter-row > .col > .btn-right {
  right: -14px;
}
.parameter-row > .col > .btn-left {
  left: -14px;
}
.parameter-row-label {
  font-size: 10px;
  text-transform: uppercase;
}

.sequence {
  padding: 50px 10px;
}
.sequence-header {
  border: #fff 6px solid;
  padding: 10px;
  background-color: #fff;
  color: #222;
}
.sequence-address {
  /*background-color: transparent;*/
  font-weight: bold;
}

.last-version {
  font-weight: normal;
}

.my-star-sequence {
  padding: 4px;
  margin: 4px;
}
.my-sequence {
  padding: 0 10px 4px;
  font-size: 12px;
}
.my-sequence.current,
.my-star-sequence.current {
  border-left: #ff8c00 4px solid;
}
.my-sequence:hover {
  cursor: pointer;
  color: #9acd32;
}
.my-star-sequence:hover {
  background-color: #9acd32;
  cursor: pointer;
  border-radius: 6px;
  color: #111;
  /*color: #ff8c00;*/
}

.editor-main-menu-btn {
  position: absolute;
  top: 100px;
  margin: auto;
  height: 120px;
  text-align: center;
  text-transform: uppercase;
}
.editor-main-menu-btn.btn-right {
  right: 15%
}
.editor-main-menu-btn.btn-left {
  left: 15%;
}

.big-button {
  font-size: 100px;
  display: block;
}

.big-button-right {
  right: 15%
}

.big-button-left {
  left: 15%;
}

.editor-container textarea {
  margin-bottom: 4px;
}

select.as-label {
  background-color: transparent;
  font-weight: bold;
  color: #ccc;
}

.sequence-sample-btn {
  position: absolute;
  right: 24px;
  top: 34px;
}
.sequence-publish {
  display: inline;
}
.publish-commands button {
  margin-left: 8px;
}

.editor-main-menu {
  position: relative;
  text-align: center;
  padding: 50px 0;
  min-height: 400px;
}

.test-idle {
  text-align: center;
  padding: 10px;
}

.test-result-json {
  white-space: pre-wrap !Important;
  background-color: transparent;
  color: yellowgreen;
}
.test-result-html {
  white-space: pre-wrap !Important;
  background-color: transparent;
  color: cornflowerblue;
}

.test-result-container {
  /*border: #555 1px solid;*/
  max-height: 400px;
}

.editor-body .result-list {
  background-color: transparent;
  /*color: */
}

.jsutil-link {
  text-align: center;
  padding: 10px;
  font-variant: small-caps;
  color: darkgoldenrod;
}

.paramter-menu {
  position: absolute;
  right: -14px;
  top: 0;
}
.paramter-menu > button {
  padding: 0;
  border: none;
}

.default-value {
  font-size: .8em;
  color: #666;
  margin-left: 10px;
}

.dropdown-menu li.checked {
  background-color: orange;
}
