.editor-container {
  position: relative;
}
.menu-hidden {
  width: 270px;
  display: inline-block;
}

.editor-body {
  display: inline-block;
  /*padding: 20px;*/
  width: calc(100% - 270px);
  position: absolute;
}
.new-sequence {
  text-align: center;
  border-radius: 10px;
  color: yellowgreen;
  padding: 10px;
  /*margin: 20px;*/
  margin: 20px auto;
  width: 300px;
}
.new-sequence:hover {
  background-color: #111;
}
.new-sequence-evident {
  background-color: #444;
}

.top-menu {
  position: fixed;
  text-align: right;
  width: calc(100% - 270px);
  background-color: #222;
  z-index: 100;
}
.top-menu > .title {
  position: absolute;
  color: yellowgreen;
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
}

.contextual-menu {
  position: absolute;
  text-align: right;
  z-index: 10;
}

.editor-row {
  border-bottom: #ddd 1px solid;
  margin: 0 10px 20px;
}
.editor-row-simply {
  border-bottom: none;
}
.editor-row-flat {
  margin: 0 10px;
}
.editor-row-flat .form-group {
  margin-bottom: 2px;
}
.editor-row p,
.editor-row-flat p,
.data-parser p{
  font-size: 11px;
  color: steelblue;
}

.parameter-row {
  padding: 0 10px 2px;
}
.parameter-row.internal input {
  background-color: #eee;
}
.parameter-row > .col {
  padding: 0 4px;
}
.parameter-row > .col > i {
  display: inline-block;
  position: absolute;
  top: 0;
}
.parameter-row > .col > .btn-right {
  right: -14px;
}
.parameter-row > .col > .btn-left {
  left: -14px;
}
.parameter-row-label {
  font-size: 10px;
  text-transform: uppercase;
}

.sequence {
  padding: 50px 10px;
}
.sequence-header {
  border: #fff 6px solid;
  padding: 10px;
  background-color: #fff;
  color: #222;
}
.sequence-address {
  background-color: transparent;
  font-weight: bold;
}

.my-star-sequence {
  padding: 4px;
  margin: 4px;
}
.my-sequence {
  padding: 0 10px 4px;
  font-size: 12px;
}
.my-sequence.current,
.my-star-sequence.current {
  border-left: #ff8c00 4px solid;
}
.my-sequence:hover {
  cursor: pointer;
  color: #9acd32;
}
.my-star-sequence:hover {
  background-color: #9acd32;
  cursor: pointer;
  border-radius: 6px;
  color: #111;
  /*color: #ff8c00;*/
}

.big-button {
  position: absolute;
  top: 100px;
  margin: auto;
  font-size: 100px;
}

.big-button-right {
  right: 100px;
}

.big-button-left {
  left: 100px;
}

.editor-container textarea {
  margin-bottom: 4px;
}

select.as-label {
  background-color: transparent;
  font-weight: bold;
  color: #ccc;
}

.sequence-sample-btn {
  position: absolute;
  right: 24px;
  top: 34px;
}
