<div class="editor-menu">
  <header class="editor-menu-header">
    <i class="jsz-fa-btn jsz-fa-btn-big fa fa-fw fa-power-off" ng-click="logout()"></i>
    <span class="font-awesome"><i class="fa fa-fw jsz-fa-btn jsz-fa-btn-big fa-user" ng-click="profile()"></i> {{user.email}}</span>
  </header>
  <article class="editor-menu-body">
    <div class="sequences-star">
      <div class="my-star-sequence"
           ng-repeat="s in sequences | filter:{ 'star':true }"
           ng-click="open(s)" ng-class="{'current':s._id==sequence._id}">
        <i class="fa fa-fw aslink"
           ng-class="{'fa-star-o':!s.star ,'fa-star':s.star }"
           ng-click="star($event,s)"></i> {{s.title}}
      </div>
    </div>
    <accordion close-others="false">
      <accordion-group heading="All my sequences" is-open="true">
        <span ng-show="!sequences || sequences.length<=0">Your sequences...</span>
        <div class="my-sequence" ng-repeat="s in sequences"
             ng-click="open(s)" ng-class="{'current':s._id==sequence._id}">
          <i class="fa fa-fw aslink"
             ng-class="{'fa-star-o':!s.star ,'fa-star':s.star }"
             ng-click="star($event,s)"></i> {{s.title}}
        </div>
      </accordion-group>
    </accordion>
  </article>
</div>
<div class="editor-container" ng-class="{'blur':overpage}">
  <input class="hidden" type="file" id="uploader-input" ng-model-instant onchange="angular.element(this).scope().setFile(this)">
  <div class="menu-hidden"></div>
  <div class="editor-body">
    <div ng-hide="sequence" ng-include="'app/editor/splash.html'"></div>
    <i ng-hide="sequence" class="fa fa-magic aslink big-button big-button-right" ng-click="newSequence()"></i>
    <i ng-hide="sequence" class="fa fa-cloud-upload aslink big-button big-button-left" ng-click="importSequence()"></i>
    <div ng-show="sequence" class="sequence-editor">
      <div class="top-menu">
        <div class="title">{{sequence.title}}</div>
        <div ng-repeat="b in buttons" ng-click="b.action()"
             class="editor-button" title="{{b.tooltip}}"
             ng-class="{active:!b.isactive || b.isactive(), separator:b.separator}">
          <i class="fa fa-fw" ng-class="b.icon"></i>
        </div>
      </div>
      <div class="sequence">
        <header class="sequence-header">
          <!-- TITLE -->
          <div class="row editor-row">
            <div class="col-md-5">
              <label class="control-label" for="inputTitle">Title</label>
              <p>Set the sequence title to find it simply and fast.</p>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <input type="text" class="form-control input-sm" id="inputTitle" ng-model="sequence.title" ng-change="changed()">
              </div>
            </div>
          </div>

          <!-- OPTIONS -->
          <div class="row editor-row">
            <!-- ENABLED -->
            <div class="col-md-3">
              <label><input type="checkbox" ng-model="sequence.enabled" ng-change="changed()"> Enabled </label>
              <p>If the sequence is disabled web request will fail.</p>
            </div>
            <!-- SSL -->
            <div class="col-md-3">
              <label> <input type="checkbox" ng-model="sequence.SSL" ng-change="changed()"> SSL </label>
              <p>Make only https requests.</p>
            </div>
            <!-- GET -->
            <div class="col-md-3">
              <label> <input type="checkbox" ng-model="sequence.GET" ng-change="changed()"> GET </label>
              <p>Enabled get request with parameters query on url.</p>
            </div>
            <!-- PROXY -->
            <div class="col-md-3">
              <label> <input type="checkbox" ng-model="sequence.proxy" ng-change="changed()"> Proxy </label>
              <p>Activate request under proxy.</p>
            </div>
          </div>

          <!-- PARAMETERS -->
          <div class="row editor-row">
            <div class="col-md-5">
              <label class="control-label" for="inputTitle">Parameters</label>
              <i class="jsz-fa-btn fa fa-fw fa-plus-circle" ng-click="addParameter()"></i>
              <p>Define the list of parameters and which of these will be public.</p>
              <p>Public (<i class="fa fa-eye"></i>) means that it have to be passed to the web request to obtain results.</p>
            </div>
            <div class="col-md-7">
              <div class="row parameter-row" ng-show="sequence.parameters.length">
                <div class="col col-md-6 parameter-row-label">Name</div>
                <div class="col col-md-6 parameter-row-label">Value</div>
              </div>
              <div class="row parameter-row" ng-repeat="p in sequence.parameters"  ng-class="{'internal':p.hidden}">
                <div class="col col-md-6">
                  <i class="jsz-fa-btn btn-left fa" ng-class="{'fa-eye-slash':p.hidden,'fa-eye':!p.hidden}"  ng-click="togglePublic(p)"></i>
                  <input type="text" class="form-control input-sm" ng-model="p.name" ng-change="changed()">
                </div>
                <div class="col col-md-6">
                  <input type="text" class="form-control input-sm" ng-model="p.value" ng-change="changed()">
                  <i class="jsz-fa-btn btn-right fa fa-remove" ng-click="removeParameter($index)"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- JS UTILITIES -->
          <div class="row editor-row editor-row-simply">
            <div class="col-md-5">
              <label>JavaScript utilities</label>
              <p>Define the javascript utilities you can use in all fields.</p>
            </div>
            <div class="col-md-7">
              <textarea class="form-control input-sm vertical script" ng-model="sequence.jsutil"
                        ng-change="changed()" spellcheck="false" rows="3"></textarea>
            </div>
          </div>

          <!-- WEB ADDRESS -->
          <div class="row editor-row editor-row-simply">
            <div class="col-md-12">
              <label>web address to obtain JSON results by sequence</label>
              <pre class="sequence-address">{{address}}</pre>
            </div>
          </div>
        </header>
        <sequence-item ng-repeat="i in sequence.items" data-ng-model="i"
                       sequence="sequence" index="$index" collapsed="true"
                       last="($index==sequence.items.length-1)"
                       ng-change="changed()"></sequence-item>
        <div class="new-sequence aslink" ng-click="newSequenceItem()">
          <i class="fa fa-fw fa-plus-circle"></i> Append new sequence item
        </div>
        <sequence-parser ng-model="sequence" ng-change="changed()"></sequence-parser>
      </div>
    </div>
    <pre ng-show="debug">Sequence: {{sequence}}</pre>
  </div>
</div>
<div class="over-page" ng-class="{'active':overpage}">
  <div class="over-page-content">
    <i class="fa fa-3x fa-times aslink onright overlay-times" ng-click="closeOverlay()"></i>
    <div class="overpage-body" ng-if="overpage.template" ng-include="overpage.template"></div>
  </div>
  <div class="overlay" ng-click="closeOverlay()"></div>
</div>
