<div class="sequence-keeper">

  <!-- TARGET -->
  <div class="row parameter-row">
    <div class="col col-md-6">
      <label class="control-label">Target Parameter</label>
    </div>
    <div class="col col-md-6">
      <select class="form-control input-sm" data-ng-model="keeper.target" ng-change="changed()"
              ng-options="p.id as p.name for p in sequence.parameters"></select>
      <i class="jsz-fa-btn btn-right fa fa-remove" ng-click="removeKeeper($event)"></i>
    </div>
  </div>

  <!-- RESPONCE SOURCE TYPE -->
  <div class="row parameter-row">
    <div class="col col-md-6">
      <label class="control-label">Response Source Type</label>
    </div>
    <div class="col col-md-6">
      <select class="form-control input-sm" data-ng-model="keeper.sourceType" ng-change="changed()"
              ng-options="s.name as s.desc for s in sources"></select>
    </div>
  </div>

  <!-- RESPONCE SOURCE NAME -->
  <div class="row parameter-row" ng-if="keeper.sourceType!='body'">
    <div class="col col-md-6">
      <label class="control-label">Name</label>
    </div>
    <div class="col col-md-6">
      <input type="text" class="form-control input-sm" ng-model="keeper.name" ng-change="changed()">
    </div>
  </div>

  <!-- REGEX -->
  <div class="row parameter-row">
    <div class="col col-md-6">
      <select class="form-control input-sm as-label" data-ng-model="keeper.logicType" ng-change="changeLogicType()"
              ng-options="t.name as t.desc for t in logicTypes"></select>
    </div>
    <div class="col col-md-6">
      <textarea class="form-control input-sm vertical script" ng-model="keeper.logic" spellcheck="false"
                ng-change="changed()" ng-show="keeper.logicType" rows="3"></textarea>
    </div>
  </div>
</div>
