<div class="sequence-item" ng-class="{'skipped':item.skip}">
  <div class="add-here"><i class="fa fa-2x fa-plus-circle" ng-click="addnew()"></i></div>
  <div class="contextual-menu item-menu">
    <div ng-repeat="b in buttons" ng-click="b.action()"
         class="editor-button editor-button-sm" title="{{b.tooltip}}"
         ng-class="{active:!b.isactive || b.isactive(), separator:b.separator}">
      <i class="fa fa-fw" ng-class="b.icon"></i>
    </div>
  </div>
  <div class="item-line item-line-up"></div>
  <div class="item-point" ng-click="toggle()">{{index+1}}</div>
  <div class="item-line item-line-down" ng-class="{'last':last}"></div>
  <div ng-show="collapsed" class="item-desc" ng-class="{'skipped':item.skip}">
    <span class="item-method">{{item.method}} </span>
    <span class="item-host-name">{{item.host}}</span>
    <span class="item-path">{{item.path}}</span>
  </div>
  <div ng-hide="collapsed">
    <!-- TITLE -->
    <div class="row editor-row">
      <div class="col-md-5">
        <label class="control-label" for="inputTitle">Title</label>
        <p>Set the item title to read log with right references.</p>
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <input type="text" class="form-control input-sm" id="inputTitle" ng-model="item.title" ng-change="changed()">
        </div>
        <label><input type="checkbox" ng-model="item.skip" ng-change="changed()"> Skip this item </label>
      </div>
    </div>

    <!-- PROPERTIES -->
    <div class="row editor-row-flat">
      <div class="col-md-12">
        <label class="control-label">Properties</label>
        <p>Properties can contains parameters references: [paramname] will be replaced with paramname's value.</p>
      </div>
    </div>
    <div class="row editor-row-flat" ng-repeat="prp in properties">
      <div class="col-md-5"><label>{{prp.title}}</label></div>
      <div class="col-md-7"><div class="form-group">
        <input type="text" class="form-control input-sm" ng-model="item[prp.name]" ng-change="changed()" placeholder="{{prp.placeholder}}">
      </div></div>
    </div>

    <!-- HEADERS -->
    <div class="row editor-row-flat">
      <div class="col-md-5">
        <label class="control-label" for="inputTitle">Headers</label>
        <i class="jsz-fa-btn fa fa-fw fa-plus-circle" ng-click="addHeader()"></i>
        <p>Headers are defined once: all subsequent requests will use this value until it is redefined.</p>
        <p>Header values can contains parameters references: [paramname] will be replaced with paramname's value.</p>
      </div>
      <div class="col-md-7">
        <div class="row parameter-row" ng-show="item.headers.length">
          <div class="col col-md-6 parameter-row-label">Name</div>
          <div class="col col-md-6 parameter-row-label">Value</div>
        </div>
        <header-item ng-repeat="h in item.headers" ng-model="h" index="$index"></header-item>
      </div>
    </div>

    <!-- DATA -->
    <div class="row editor-row-flat">
      <div class="col-md-5">
        <label class="control-label">Data</label>
        <i class="jsz-fa-btn fa fa-fw fa-plus-circle" ng-click="addDataItem()"></i>
        <p>Data item can contains parameters references: [paramname] will be replaced with paramname's value.</p>
      </div>
      <div class="col-md-7">
        <div class="row parameter-row" ng-show="item.data.length">
          <div class="col col-md-6 parameter-row-label">Name</div>
          <div class="col col-md-6 parameter-row-label">Value</div>
        </div>
        <div class="row parameter-row" ng-repeat="d in item.data">
          <div class="col col-md-6">
            <input type="text" class="form-control input-sm" ng-model="d.name" ng-change="changed()">
          </div>
          <div class="col col-md-6">
            <input type="text" class="form-control input-sm" ng-model="d.value" ng-change="changed()">
            <i class="jsz-fa-btn btn-right fa fa-remove" ng-click="removeDataItem($index)"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- MILKERS -->
    <div class="row editor-row-flat">
      <div class="col-md-5">
        <label class="control-label">Milkers</label>
        <i class="jsz-fa-btn fa fa-fw fa-plus-circle" ng-click="addMilker()"></i>
        <p>Milkers can retrieve values from response and put them in sequence's parameters.</p>
      </div>
      <div class="col-md-7">
        <sequence-keeper ng-repeat="k in item.keepers" ng-model="k" sequence="sequence" item="item" index="$index"></sequence-keeper>
      </div>
    </div>
  </div>
</div>
