.splash {
  text-align: center;
  padding: 50px;
}

.splash > i {
  color: #888;
  display: block;
}

.splash > p {
  color: yellowgreen;
  margin: 40px 0;
  font-style: italic;
}

.splash .splash-some {
  font-size: 20px;
}

.splash .splash-page {
  width: 150px;
  background-color: #333;
  border: #666 1px solid;
  border-radius: 5px;
  color: #888;
  margin: auto;
  margin-bottom: 6px;
  line-height: 50px
}

.splash .splash-json {
  width: 150px;
  text-align: left;
  margin: auto;
}

.splash .splash-json pre {
  font-size: 10px;
}
