.result-text.error {
  color: red;
  background-color: #dca7a7;
  border-color: brown;
}
.result-list {
  text-align: left;
  /* overflow: auto; */
  font-size: 11px;
  padding: 2px;
}

.result-item-num {
  display: inline-block;
  width: 16px;
  vertical-align: super;
  color: #888;
}
.result-item-row {
  white-space: nowrap;
  height: 19px;
}

.result-item-cell {
  display: inline-block;
  width: 100px;
  padding: 2px 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: #ddd 1px solid;
  border-right: #ddd 1px solid;
}
