<div class="jsonizer-tester">
  <div class="jsonizer-container">
    <h1>Test Jsonizer</h1>
    <div class="test-idle">
      <i ng-show="testIdle" class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>
    </div>
    <div class="test-url row">
      https://jsonizer.herokuapp.com/jsonize/
      <input type="text" class="form-control input-sm test-id" ng-model="testJ.id" ng-change="testChanged()" placeholder="insert code...">
      <i class="jsz-fa-btn btn-right fa fa-remove" ng-click="clearTest()"></i>
    </div>
    <div class="test-message" ng-show="!testJ.ok && testJ.message">{{testJ.message}}</div>
    <div class="test-info" ng-show="testJ.ok">
      <h1>{{testJ.title}}</h1>
      <p>{{testJ.desc}}</p>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="test-parameters" ng-show="testJ.parameters">
          <div class="row test-parameter" ng-repeat="p in testJ.parameters">
            <div class="col-md-5">
              <label class="control-label">{{p.name}}</label>
            </div>
            <div class="col-md-7">
              <input ng-attr-type="{{p.type||'text'}}" class="form-control input-sm" ng-model="p.value">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="test-info" ng-show="testJ.ok">
      <button class="btn btn-primary" ng-click="runTest()" ng-disabled="testIdle">jsonize!</button>
    </div>
    <ul class="nav nav-tabs" ng-show="testJ.result">
      <li ng-repeat="tab in tabs.items" class="test-tab"
          ng-class="{'active':tabs.current==tab}">
        <a data-toggle="tab" href="#" ng-click="tabs.current=tab">{{tab.name}}</a></li>
    </ul>
    <div class="tab-content" ng-show="testJ.result">
      <div id="json" class="tab-pane" ng-class="{'active':isCurrent('json')}">
        <!-- JSON -->
        <pre class="test-result">{{testJ.result}}</pre>
      </div>
      <div id="table" class="tab-pane" ng-class="{'active':isCurrent('table')}">
        <!-- TABLE -->
        <div class="test-table-result" ng-show="testJ.result.data && testJ.result.data.length">
          <div class="result-list">
            <div class="result-item-row" ng-repeat="i in testJ.result.data">
              <div class="result-item-num">{{$index}} </div>
              <div class="result-item-cell" ng-repeat="c in i track by $index" title="{{c}}">{{c}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
