.jsonizer-tester {
  text-align: center;
  background-color: #333;
  padding: 50px 0;
  min-height: 400px;
}
.jsonizer-tester .test-url .test-row {
  margin: auto;
  font-family: monospace;
  font-size: 1.6em;
}
.jsonizer-tester .test-idle {
  height: 60px;
}
.jsonizer-tester .test-id {
  display: inline-block;
  width: 200px;
}
.jsonizer-tester .test-message {
  color: #888;
  margin: 20px 0;
}
.jsonizer-tester .test-parameters {
  margin: 20px 0;
}
.jsonizer-tester .test-parameter {
  margin-bottom: 4px;
}
.jsonizer-tester .test-result {
  max-height: 400px;
  background-color: white;
  margin: 50px 50px 0;
}


.tab-content .test-table-result {
  margin: 50px 50px 0;
}
.tab-content .test-table-result .result-list {
  background-color: transparent;
}
